body {
    background: #fff;
    padding: 0;
    margin: 0;
	font-family: 'Pacifico', cursive;
}
#chrome.wrapper{
	max-width: 440px;
}
.wrapper{
    background: #e31937;
    margin: 0 auto;

}
.logo {
    text-align: center;
	padding:50px 25px 30px;
}
.logo img {
    max-width: 220px;
}
.heading {
    color: #fff;
    text-align: center;
    padding: 15px 0;
	font-size: 30px;
}
.order-wrapper .heading{
	text-align:left;
	padding: 15px 10px 10px;
}
.radio-field label {
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    font-weight: 700;
	cursor: pointer;
	color: #fff;
}
.radio-field {
    padding:6px 10px;
    position: relative;
}
.radio-field label:before {
    content: '';
    background: #fff;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    position: absolute;
    left: 11px;
    top: 10px;
    border: 2px solid #fff;
}
.radio-field input {
    position: relative;
    z-index: 1;
	opacity: 0;
	cursor: pointer;
}
.radio-field input:checked + label:after {
    background: #e31937;
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    left: 16px;
    top: 15px;
    border-radius: 100%;
}
.order-wrapper {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}
.subscribe-form {
    padding: 10px 20px 20px;
}
.input-field {
    padding: 10px;
    text-align: center;
}
.input-field input {
    border: 2px solid #fff;
    padding: 14px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    outline: 0;
}

::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::placeholder {
  color: #fff;
}
.input-field button {
	background: #fff;
    border: 0;
    padding: 14px 25px;
    color: #e31937;
    font-size: 18px;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    outline: 0;
	border-radius:30px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
}
.overlay-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	display: flex;
	text-align:center;
}
.overlay{
	background: #fff;
	width:100%;
	height:100%;
}
.overlay-wrapper img.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -106px;
    width: 600px;
}
.hide{
	display:none;
}